.App {
  margin: 0;
  padding: 0;
  text-align: center;
  border-style: border-box;
}

.input{
  border: 2px solid palevioletred;
  color: black;
  border-radius: 10px;
  padding: 10px;
}

.input:focus, .input.active{
  background-color: antiquewhite;
}

.add, .remove{
  padding: 9px;
margin: 2px;
background-color: rgb(155, 92, 215);
color: white;
border-radius: 10px;
}

.add:focus{
background-color: aquamarine;
}

.remove:focus, .remove:active{
  background-color: palevioletred;
}